:root {
  --primary: #15ff00;
  --secondary: #008d1b;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  background: #000;
  color: #fff;
  font-family: sans-serif;
}

section {
  width: 100%;
  height: 100vh;
  position: relative;
}

.title {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.title.mega {
  font-size: 4rem;
  letter-spacing: 4px;
}

/* Border */
.border {
  width: 100px;
  height: 2px;
  background: var(--primary);
  margin: 10px auto;
}

/* Buttons */

.btn {
  padding: 10px 25px;
  cursor: pointer;
  background: var(--primary);
  color: #fff;
  font-size: 13px;
  letter-spacing: 2px;
  border: none;
  font-weight: 600;
  transition: all 0.4s ease;
}

.btn:hover {
  background: var(--secondary);
}

@media screen and (max-width: 860px) {
  .title.mega {
    font-size: 3rem;
    text-align: center;
  }
}

/* Navbar Toggler */
.navbar-toggler {
  position: fixed;
  top: 0;
  right: 0;
  padding: 50px;
  cursor: pointer;
  z-index: 7;
  display: none;
}

.navbar-toggler .nav-btn {
  height: 2px;
  width: 30px;
  background: #fff;
  border-radius: 5px;
  position: relative;
  transition: all 0.4s ease;
}

.navbar-toggler .nav-btn::before,
.navbar-toggler .nav-btn::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 30px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.4s ease;
}

.navbar-toggler .nav-btn::before {
  transform: translateY(-8px);
}

.navbar-toggler .nav-btn::after {
  transform: translateY(8px);
}

.navbar-toggler.activeToggle .nav-btn {
  background: none;
}

.navbar-toggler.activeToggle .nav-btn::before {
  transform: rotate(-45deg);
}

.navbar-toggler.activeToggle .nav-btn::after {
  transform: rotate(45deg);
}

@media screen and (max-width: 860px) {
  .navbar-toggler {
    display: block;
  }
}

@media screen and (max-width: 1000px) {
  .navbar-toggler {
    display: block;
  }
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;

  z-index: 6;

  width: 100%;
  height: 10%;

  background: #000;

  display: flex;
  justify-content: space-around;
  align-items: center;

  transition: all 0.4s ease;
}

.logo img {
  width: 50px;
}

.nav-list {
  text-align: center;
}

.nav-item {
  padding: 15px;
  display: inline-block;
}

.nav-link {
  color: #fff;
  font-size: 13px;
  letter-spacing: 2px;
  transition: all 0.4s ease;
  position: relative;

  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-link:hover {
  color: var(--primary);
}

.nav-link::before {
  content: "";
  position: absolute;
  top: 0;
  width: 0%;
  height: 2px;
  background: var(--primary);
  transition: all 0.4s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0%;
  height: 2px;
  background: var(--primary);
  transition: all 0.4s ease;
}

.nav-link:hover::before {
  width: 100%;
}

.nav-link:hover::after {
  width: 100%;
}

.navbar.activeScroll {
  background: var(--primary);
}

.navbar.activeScroll button {
  background: var(--secondary);
}

.navbar.activeScroll button:hover {
  background: #fff;
  color: #000;
}

.navbar.activeScroll .nav-link:hover::before {
  background: #fff;
}

.navbar.activeScroll .nav-link:hover::after {
  background: #fff;
}

.navbar.activeScroll .nav-link:hover {
  color: #fff;
}

@media screen and (max-width: 960px) {
  .navbar {
    height: 100%;
    flex-direction: column;
    opacity: 0;
  }

  .navbar .nav-item {
    display: block;
  }

  /* Toggle Navbar */
  .navbar.navToggled {
    opacity: 1;
    pointer-events: all;
  }
}

/* Hero */
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url("../images/greenCar-1.jpg") no-repeat center center / cover;
}

.hero__content {
  position: absolute;
  bottom: 50px;
  right: 50px;
  max-width: 660px;
  color: #fff;
  padding: 50px;
  border-radius: 5px;
  width: 100%;
}

.hero__content p {
  letter-spacing: 2px;
  margin: 20px auto;
}

.hero .social-media {
  position: absolute;
  bottom: 50px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .social-media i {
  color: #fff;
  cursor: pointer;
  margin: 10px auto;
  padding: 20px;
  transition: all 0.4s ease;
}

.social-media i:hover {
  color: var(--primary);
}

.social-media .line {
  width: 20px;
  background: #fff;
  height: 2px;
}

@media screen and (max-width: 860px) {
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .hero__content {
    position: static;
    text-align: center;
  }

  .hero__content div {
    width: 100%;
  }

  .hero__content .btn {
    padding: 10px 15px;
    font-size: 10px;
    letter-spacing: 0;
  }

  .hero__content .title {
    font-size: 20px;
    margin: 10px auto;
  }

  .hero__content p {
    font-size: 1rem;
    letter-spacing: 1px;
    display: none;
  }

  .hero .social-media {
    left: 50%;
    bottom: 10px;

    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 1000px) {
  .hero__content {
    bottom: 10px;
  }
}

/* Cars */
#gallery {
  height: auto;
  padding-bottom: 200px;
}
#gallery .title {
  padding-top: 50px;
  padding-bottom: 50px;
}

#gallery .border {
  display: none;
}

.cars-container {
  max-width: 80%;
  margin: auto;
}

.car {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2em;
  align-items: center;
}

.car:nth-child(even) .car-img {
  order: 2;
}

.car-img {
  height: 400px;
  width: 100%;
}

.car-img-1 {
  background: url("../images/greenCar-2.jpg") no-repeat center center / cover;
}

.car-img-2 {
  background: url("../images/greenCar-3.jpg") no-repeat center center / cover;
}

.car-img-3 {
  background: url("../images/greenCar-4.jpg") no-repeat center center / cover;
}

@media screen and (max-width: 1000px) {
  #gallery .title {
    padding-left: 20px;
  }

  .car {
    display: block;
  }

  .car .content {
    margin: 30px auto;
  }

  .car-img {
    height: 50vh;
  }
}

/* About */
#about {
  background: url("../images/greenCar-5.jpg") no-repeat center center / cover;
}

.about-container {
  background: #fff;
  color: #000;

  position: absolute;
  right: 10px;
  top: 30%;

  height: 50%;
  width: 50%;

  border-radius: 5px;
}

.about-container .about__content {
  max-width: 1100px;
  height: 100%;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  text-align: left;
}

.about-container .about__content p {
  letter-spacing: 1px;
  margin: 50px auto;
  max-width: 80%;
  width: 50%;
  text-align: center;
}

.about-container .social-media i {
  margin: auto 20px;
  cursor: pointer;
  transition: all 0.4s ease;
  font-size: 2rem;
}

@media screen and (max-width: 860px) {
  .about-container {
    width: 90%;
    height: 40vh;
  }

  .about-container p {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .about-container {
    width: 80%;
  }
}

/* Footer */
footer {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  color: #fff;
  padding: 50px;
  background: #000;
}

.footer > * {
  flex: 1 100%;
}

.footer-left {
  margin-right: 1.25rem;
  margin-bottom: 2em;
}

.footer-left img {
  width: 50%;
}

.footer ul {
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer-right {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  flex-flow: row wrap;
}

.footer-right > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.box a {
  color: #999;
}

.footer-bottom {
  text-align: center;
  color: #999;
  padding-top: 50px;
}

.footer-left p {
  padding-right: 20%;
  padding-bottom: 20px;
  color: #999;
}

.social-media a {
  background: var(--primary);
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 10px;
}

.social-media a i {
  color: #fff;
  padding: 10px 12px;
  font-size: 20px;
}

@media screen and (min-width: 600px) {
  .footer-right > * {
    flex: 1;
  }

  .footer-left {
    flex: 1 0px;
  }

  .footer-right {
    flex: 2 0px;
  }
}

@media (max-width: 600px) {
  .footer {
    padding: 15px;
  }

  main {
    font-size: 55px;
  }
}
